.gridContainer {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
}

.gridItem {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  width: 33.33333%;
}
